<nav class="navbar navbar-light bg-light justify-content-between" style="padding: 2rem">
  <a class="navbar-brand"></a>
  <div style="display: flex">
    <%= form_tag(path, method: :get, class: 'form-inline', style: 'display: flex;') do %>
      <%= search_field_tag :search, params[:search], placeholder: 'Enter ingredient', class: "form-control mr-sm-2" %>
      <%= button_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0", name: nil %>
    <% end %>
    <%= button_to 'clear', path, params: { search: '' }, class: 'btn btn-outline-warning margin-right', name: nil, method: :get %>
  </div>
</nav>
